.menu-container {
    padding: 15px;
    padding-top: 10px;
    background-color: #212121;
    box-shadow: 0px 10px 5px #212121;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu li {
    margin-right: 15px;
    display: inline-block; /* Ustawienie display na inline-flex dla elementu li */
    align-items: center;
}

.menu a {
    text-decoration: none;
    color: #fff;
    display: block;
    width: fit-content;
}

.menu a:hover {
    font-weight: 700;
}
